@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

@layer utilities {
}

.cover-image {
  min-width: 100%;
  min-height: 100vh;
  object-fit: cover;
  object-position: left 50% top 80%;
}

/* todo: change to aspect ratio: */
@media (max-width: 500px) {
}

.logo-bird {
  height: 30px;
  width: 30px;
}

.address-time {
  margin-bottom: 16px;
  font-size: 1.1rem;
  text-align: center;
}

.flower-logo > img {
  max-width: 100%;
  max-height: 400px;
  object-fit: contain;
}

.text-logo {
  display: flex;
  flex-direction: column;
}

@media (min-width: 500px) {
  .text-logo {
    position: absolute;
    bottom: 0;
    flex-direction: row;
    gap: 1rem;
  }
}

.affix-title {
  border-bottom: 1px solid #e6e6e6;
  position: fixed;
  background: white;
  top: 0;
  bottom: unset;
  transform: none;
  font-size: 1.6rem;
  z-index: 1000;
  padding: 12px;
  background-image: url("/flower-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  flex-direction: row;
  gap: 0.5rem;
}

.affix-title .logo-bird {
  margin-right: 2px;
  width: 24px;
  height: 24px;
}
